main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaCodigo {
    display: flex;
    margin: 20px;
}

.wide-input {
    width: 140px;
}

.resultado {
    margin: 20px;
    font-size: 20px;
}

